{% extends 'base.html.twig' %}

{% block title %}Honest Sites Book Mark Management
{% endblock %}

{% block body %}
	<div class="container-fluid  bg-white">
		<div class="container">
			<div class="row">
				<div class="col">
					{% include "shared/_orgs_menu.html.twig" %}
				</div>
				<div class="col">
					{% include "shared/_categories_menu.html.twig" %}
				</div>
				<div class="col">
					{% include "shared/_collections_menu.html.twig" %}
				</div>
			</div>
		</div>
	</div>

	
		{% include "shared/_links.html.twig" %}
	
{% endblock %}
