{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <div>
    {% include "shared/_orgs.html.twig" %}
  </div>
  <div>
    {% include "shared/_categories.html.twig" %}
  </div>
  <div>
    {% include "shared/_collections.html.twig" %}
  </div>
{% endblock %}
