{% extends 'base.html.twig' %}

{% block title %}Honest Sites Book Mark Management{% endblock %}

{% block body %}
  <div>
    {% include "shared/_orgs_horizontal.html.twig" %}
  </div>
  <div>
    {% include "shared/_categories_horizontal.html.twig" %}
  </div>
  <div>
    {% include "shared/_collections_horizontal.html.twig" %}
  </div>
  <div>
    {% include "shared/_links.html.twig" %}
  </div>
{% endblock %}
