body {
  background-color: #dae1dc;
}

.w-150 {
  min-width: 150px !important;
  max-width: 150px !important;
}

.min-vh-250 {
  min-height: 250px !important;
  max-height: 250px !important;
}

p.min-vh-70 {
  min-height: 70px !important;
  max-height: 70px !important;
  overflow: auto !important;
}
